<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GMorph"
        tools:targetApi="31">
        <activity
            android:name=".LoginActivity"
            android:exported="true" />
        <activity
            android:name=".SignupActivity"
            android:exported="true" />
        <activity
            android:name=".GraphDisplayActivity"
            android:exported="true" />
        <activity
            android:name=".HeatmapActivity"
            android:exported="true" />
        <activity
            android:name=".SpiderChartActivity"
            android:exported="true" />
        <activity
            android:name=".BubbleChartActivity"
            android:exported="true" />
        <activity
            android:name=".AreaChartActivity"
            android:exported="true" />
        <activity
            android:name=".PieChartActivity"
            android:exported="true" />
        <activity
            android:name=".BoxPlotActivity"
            android:exported="true" />
        <activity
            android:name=".ScatterPlotActivity"
            android:exported="true" />
        <activity
            android:name=".HistogramActivity"
            android:exported="true" />
        <activity
            android:name=".LineGraphActivity"
            android:exported="true" />
        <activity
            android:name=".BarGraphActivity"
            android:exported="true" />
        <activity
            android:name=".WelcomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>